<template>
    <footer>
        <br><br>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-lg-4">
                        <h4><strong>Entre em contato</strong></h4>
                        <h4><a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" class="text-dark"><i class="icon ion-logo-facebook link"></i></a> <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer" class="text-dark"><i class="icon ion-logo-twitter link"></i></a> <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer" class="text-dark"><i class="icon ion-logo-linkedin link"></i></a></h4>
                        <br><br><br>
                        <h6><strong>Bold Online Courses ®</strong></h6>
                    </div>
                    <div class="col-8 col-lg-4 d-flex justify-content-center">
                        <button v-if="!dontShowButton" class="btn btn-primary btn-lg" id="fale-conosco" @click="showFaleConosco = true"><strong>Fale conosco</strong></button>
                    </div>
                </div>
            </div>
        </div>
        <modal-template v-if="showFaleConosco" @close="showFaleConosco = false">
            <div slot="body" class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <h4><strong>Entre em contato!</strong></h4>
                        <p>
                            Tem alguma dúvida sobre nossos cursos, metodologia ou mentores? Vem falar com a gente :)
                        </p>
                    </div>
                    <div class="col-md-8">
                        <form @submit="sendMessage">
                            <div class="form-row form-group">
                                <div class="col-md">
                                    <input type="text" class="form-control" placeholder="Primeiro Nome" v-model="data.name">
                                </div>
                                <div class="col-md">
                                    <input type="text" class="form-control" placeholder="Sobrenome" v-model="data.lastname">
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-md">
                                    <input type="email" class="form-control" placeholder="Email" v-model="data.email">
                                </div>
                                <div class="col-md">
                                    <input type="text" class="form-control" placeholder="Telefone" v-mask="['(##) ####-####', '(##) #####-####']" v-model="data.phone">
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-md">
                                    <textarea class="form-control" rows="3" placeholder="Sua mensagem" v-model="data.message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-lg btn-block" id="comece" type="submit">Comece um conversa</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div slot="footer"></div>
        </modal-template>
    </footer>
</template>

<script>
import { mask } from 'vue-the-mask'
import { addIcons } from 'ionicons';

export default {
    data: function () {
        return {
            showFaleConosco: false,
             data: {
                name: '',
                lastname: '',
                email: '',
                phone: '',
                message: '',
            },
            output: '',
        }
    },
    methods: {
        sendMessage(e) {
            e.preventDefault();
            let currentObj = this;
            axios.post('api/talkus',
               this.data
            )
            .then(function (response) {
                currentObj.output = response.data.message;
                alert(response.data.message);
                window.location.reload();
            })
            .catch(function (error) {
                // currentObj.output = error.response.data.message;
                alert(error.response.data.message);
            });
        }
    },
    directives: {mask},
    props: ['dontShowButton']
}
</script>


<style lang="scss">

#fale-conosco {
    border-radius: 43px;
    width: 60%;
    height: 60px;

    font-size: 14px;
}
#comece {
    border-radius: 43px;
    font-size: 14px;
}

.link:hover {
    color: #FF0000;
}







</style>
