<template>
    <header>
        <br>
        <br>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <router-link v-if="!logado" :to="{ name: 'home' }"><img id="logo-bold" :src="'img/logo-bold.png'"></router-link>
                            <router-link v-else :to="{ name: 'dash' }"><img id="logo-bold" :src="'img/logo-bold.png'"></router-link>
                        </div>
                    </div>
                    <div class="offset-9 col-1">
                        <a href="#" @click="showMenu = true" class="text-dark"><i class="icon ion-md-menu" id="botao-menu"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <menu-template v-if="showMenu" @close="showMenu = false">
            <div slot="body" class="container-fluid">
                <div class="row">
                    <div class="offset-md-4 col-md-4 text-center">
                        <h3 v-if="!logado"><strong><router-link  class="text-light link" :to="{ name: 'home' }">início</router-link></strong></h3>
                        <h3 v-else><strong><router-link class="text-light link" :to="{ name: 'dash' }">início</router-link></strong></h3>
                        <br><br>
                        <h3><strong><router-link class="text-light link" :to="{ name: 'about' }">sobre</router-link></strong></h3>
                        <br><br>
                        <h3 v-if="!logado"><strong><router-link  class="text-light link" :to="{ name: 'home' }">cursos</router-link></strong></h3>
                        <h3 v-else><strong><router-link class="text-light link" :to="{ name: 'dash' }">cursos</router-link></strong></h3>
                        <br><br>
                        <div v-if="!logado">
                            <h3><strong><router-link class="text-light link" :to="{ name: 'login' }">login</router-link></strong></h3>
                            <br><br>
                        </div>
                        <h3><strong><router-link class="text-light link" :to="{ name: 'talk' }">contato</router-link></strong></h3>
                        <div v-if="logado">
                            <br><br>
                            <h3><strong><a class="text-light link" href="#" @click="logoutAction">logout</a></strong></h3>
                        </div>
                    </div>
                </div>
            </div>
        </menu-template>
        <br>
    </header>
</template>

<script>
export default {
    data: function () {
        return {
            showMenu: false,
            logado: false
        }
    },
    mounted() {
        this.logado = localStorage.getItem('token');
    },
    methods:{
        logoutAction() {
            if (confirm('Você realmente deseja encerrar a sessão?')) {
                axios.get('api/user/logout')
                .then(function (response) {
                    localStorage.removeItem('token');
                    axios.defaults.headers.common['Authorization'] = '';
                    alert(response.data.message);
                    window.location.href = '/';
                })
                .catch(function (error) {
                    alert(error.response.data.message);
                });
            }
        }
    }
}
</script>

<style lang="scss" scoped>

#logo-bold {
    width: 100%;
}

#botao-menu {
    font-size: 50px;
}
#botao-menu:hover {
    color: #F00;
}

.link:hover {
    font-size: 50px;
    text-decoration:none;
}

</style>
