<template>
    <div>
        <header-template></header-template>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="offset-2 col-8 text-center">
                        <h1><strong>O futuro está aqui.</strong></h1>
                        <br>
                        <h2>Milhares de cursos para potencializar sua carreira.</h2>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-black text-light">
            <div class="container">
                <br><br>
                <div class="row">
                    <div class="col-0 col-md-2"></div>
                    <div class="col-6 col-md-2">
                        <h4><strong>Gestão</strong></h4>
                        <br>
                        <p>
                            Mussum Ipsum, cacilds vidis litro abertis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Atirei o pau no gatis, per gatis num morreus. Praesent vel viverra nisi.
                        </p>
                    </div>
                    <div class="col-6 col-md-2">
                        <h4><strong>Inovação</strong></h4>
                        <br>
                        <p>
                            Mussum Ipsum, cacilds vidis litro abertis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Atirei o pau no gatis, per gatis num morreus. Praesent vel viverra nisi.
                        </p>
                    </div>
                    <div class="col-6 col-md-2">
                        <h4><strong>Design</strong></h4>
                        <br>
                        <p>
                            Mussum Ipsum, cacilds vidis litro abertis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Atirei o pau no gatis, per gatis num morreus. Praesent vel viverra nisi.
                        </p>
                    </div>
                    <div class="col-6 col-md-2">
                        <h4><strong>Desenvolvimento</strong></h4>
                        <br>
                        <p>
                            Mussum Ipsum, cacilds vidis litro abertis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Atirei o pau no gatis, per gatis num morreus. Praesent vel viverra nisi.
                        </p>
                    </div>
                    <div class="col-0 col-md-2"></div>
                </div>
                <br><br>
            </div>
        </div>
        <div class="container-fluid">
            <br><br><br>
            <div class="row">
                <div class="offset-1 col-2 my-auto">
                    <h2><strong>Por que estudar na Bold?</strong></h2>
                </div>
                <div class="offset-1 col-5">
                    <h4 class="text-primary"><strong>01. Competência</strong></h4>
                    <br>
                    <p>
                        Mussum Ipsum, cacilds vidis litro abertis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Atirei o pau no gatis, per gatis num morreus.
                    </p>
                    <br>
                    <h4 class="text-primary"><strong>02. Comprometimento</strong></h4>
                    <br>
                    <p>
                        Mussum Ipsum, cacilds vidis litro abertis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Atirei o pau no gatis, per gatis num morreus.
                    </p>
                    <br>
                    <h4 class="text-primary"><strong>03. Entrega</strong></h4>
                    <br>
                    <p>
                        Mussum Ipsum, cacilds vidis litro abertis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Atirei o pau no gatis, per gatis num morreus.
                    </p>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="offset-1 col-8"><hr></div>
            </div>
        </div>
        <div class="container-fluid">
            <br><br>
            <div class="row">
                <div class="offset-1 col-2 my-auto">
                    <h2><strong>Conheça alguns dos nossos mentores.</strong></h2>
                </div>
                <div class="offset-1 col-6">
                    <div class="row">
                        <div class="col-4">
                            <div id="mentor1">

                            </div>
                        </div>
                        <div class="col-4">
                            <img src="https://static1.dermaclub.com.br/articles/8/79/28/@/15184-entenda-se-esfoliar-a-pele-do-rosto-todo-article_image-1.png" width="100%" height="200px">
                        </div>
                        <div class="col-4">
                            <img src="https://static1.dermaclub.com.br/articles/8/79/28/@/15184-entenda-se-esfoliar-a-pele-do-rosto-todo-article_image-1.png" width="100%" height="200px">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <img src="https://static1.dermaclub.com.br/articles/8/79/28/@/15184-entenda-se-esfoliar-a-pele-do-rosto-todo-article_image-1.png" width="100%" height="200px">
                        </div>
                        <div class="col-4">
                            <img src="https://static1.dermaclub.com.br/articles/8/79/28/@/15184-entenda-se-esfoliar-a-pele-do-rosto-todo-article_image-1.png" width="100%" height="200px">
                        </div>
                        <div class="col-4">
                            <img src="https://static1.dermaclub.com.br/articles/8/79/28/@/15184-entenda-se-esfoliar-a-pele-do-rosto-todo-article_image-1.png" width="100%" height="200px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <footer-template></footer-template>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>

#mentor1 {
    width:100%;
    height:200px;
    background-color: rgba(255, 0, 0, 0.5);
    // background-image: url('https://static1.dermaclub.com.br/articles/8/79/28/@/15184-entenda-se-esfoliar-a-pele-do-rosto-todo-article_image-1.png');
}

</style>
