<template>
    <div>
        <header-template></header-template>
        <div class="container-fluid" v-if="logado">
            <div class="container">
                <div class="row">
                    <div class="offset-2 col-md-8">
                        <div class="row">
                            <div class="col-md text-center">
                                <button class="btn btn-primary btn-lg" disabled>Criar novo curso</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer-template></footer-template>
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            showMenu: false,
            logado: false
        }
    },
    mounted() {
        this.logado = localStorage.getItem('token');
    },
}
</script>

<style>

</style>
