<template>
    <div>
        <header-template></header-template>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="offset-2 col-8 text-center">
                        <h1><strong>Bold</strong> é uma <strong>escola digital</strong> que te auxilia a aprender com os <strong>melhores profissionais</strong> do mercado.</h1>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container-fluid" id="content">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-4">
                        <img src="https://www.itforum365.com.br/wp-content/uploads/2019/08/home-office.jpg" class="" width="33%" height="100%"><img src="https://blog.fortestecnologia.com.br/wp-content/uploads/2019/04/fortes-tecnologia-financas-empresariais-810x423.png" class=""  width="33%" height="100%"><img src="https://image.freepik.com/fotos-gratis/pessoas-do-outro-lado-da-faixa-de-pedestres-na-vista-superior-em-forma-de-passeio-pedestre_28976-19.jpg" class=""  width="33%" height="100%">
                    </div>
                    <div class="col-12">
                        <img src="https://1.bp.blogspot.com/-OoTgzBpU_3c/Wx3o8YYWZuI/AAAAAAAADq4/clw65Wsw1r8aaxQE9fpdXPdCd_iGxFbVgCLcBGAs/s1600/tecnologia-empresa-1024x683.jpg" class="" width="33%" height="100%"><img src="https://abrilexame.files.wordpress.com/2017/07/reuniacc83o.png" class=""  width="33%" height="100%"><img src="https://www.eurodata.com.br/wp-content/uploads/2016/06/1_P1iupOxk19t4v130e9ikhQ.png" class=""  width="33%" height="100%">
                    </div>
                </div>
                <div class="row">

                    <div class="offset-2 col-md-10">
                        <br><br><br>
                        <h3><strong><a href="#" class="text-light sublinhado">Veja todos os nossos cursos</a></strong></h3>
                        <br><br><br>
                    </div>

                </div>
            </div>
        </div>
        <footer-template></footer-template>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
img:hover {
    transform: scale(1.1);
    z-index: 999999;
}

#content {
    height: 100%;
    background: linear-gradient(180deg, white 15%, black 15%);
}

.sublinhado {
    text-decoration: underline;
}


</style>
