<template>
    <div>
        <header-template></header-template>
        <div class="container-fluid" v-if="!logado">
            <div class="container" v-if="!showRegister">
                <div class="row">
                    <div class="offset-1 col-md-3">
                        <h3><strong>Entre em sua conta</strong></h3>
                        <br>
                        <p>Caso ainda não tenha sua conta clique em "Criar nova conta"</p>
                    </div>
                    <div class="col-md-6">
                        <form id="login" @submit="loginAction">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Email" v-model="login.email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" placeholder="Senha" v-model="login.password">
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-outline-primary btn-lg btn-block borda-redonda" @click="showRegister = true">Criar nova conta</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block borda-redonda">Entrar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container" v-if="showRegister">
                <div class="row">
                    <div class="offset-1 col-md-3">
                        <h3><strong>Faça seu cadastro</strong></h3>
                        <br>
                        <p>Caso já tenha sua conta clique em "Faça login"</p>
                    </div>
                    <div class="col-md-6">
                        <form id="register" @submit="registerAction">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="Nome completo" v-model="register.name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Email" v-model="register.email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" placeholder="Senha" v-model="register.password">
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button"  class="btn btn-outline-primary btn-lg btn-block borda-redonda" @click="showRegister = false">Faça login</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block borda-redonda">Registrar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer-template></footer-template>
    </div>
</template>

<script>
export default {
    data() {
        return {
            showRegister: false,
            login: {
                email: '',
                password: ''
            },
            register: {
                name: '',
                email: '',
                password: ''
            },
            logado: false
        };
    },
    mounted() {
        this.logado = localStorage.getItem('token');
    },
    methods: {
        registerAction(e) {
            e.preventDefault();
            let currentObj = this;
            axios.post('api/register',
               this.register
            )
            .then(function (response) {
                alert(response.data.message);
                window.location.reload();
            })
            .catch(function (error) {
                alert(error.response.data.message);
            });
        },
        loginAction(e) {
            e.preventDefault();
            let currentObj = this;
            axios.post('api/login',
               this.login
            )
            .then(function (response) {
                let token = response.data.token;
                localStorage.setItem('token', token);
                axios.defaults.headers.common['Authorization'] = token;
                alert(response.data.message);
                window.location.href = '/dash';
            })
            .catch(function (error) {
                alert(error.response.data.message);
            });
        }
    },


}
</script>

<style>
.borda-redonda {
    border-radius: 43px;
}

</style>
