<template>
    <div>
        <header-template></header-template>
        <br><br>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h4><strong>Entre em contato!</strong></h4>
                        <p>
                            Tem alguma dúvida sobre nossos cursos, metodologia ou mentores? Vem falar com a gente :)
                        </p>
                    </div>
                    <div class="col-md-8">
                        <form @submit="sendMessage">
                            <div class="form-row form-group">
                                <div class="col-md">
                                    <input type="text" class="form-control" placeholder="Primeiro Nome" v-model="data.name">
                                </div>
                                <div class="col-md">
                                    <input type="text" class="form-control" placeholder="Sobrenome" v-model="data.lastname">
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-md">
                                    <input type="email" class="form-control" placeholder="Email" v-model="data.email">
                                </div>
                                <div class="col-md">
                                    <input type="text" class="form-control" placeholder="Telefone" v-mask="['(##) ####-####', '(##) #####-####']" v-model="data.phone">
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-md">
                                    <textarea class="form-control" rows="3" placeholder="Sua mensagem" v-model="data.message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-lg btn-block" id="comece" type="submit">Comece um conversa</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer-template dontShowButton="true"></footer-template>
    </div>
</template>

<script>
import { mask } from 'vue-the-mask'
export default {
    data() {
        return {
            data: {
                name: '',
                lastname: '',
                email: '',
                phone: '',
                message: '',
            },
            output: '',
        };
    },
    methods: {
        sendMessage(e) {
            e.preventDefault();
            let currentObj = this;
            axios.post('api/talkus',
               this.data
            )
            .then(function (response) {
                currentObj.output = response.data.message;
                alert(response.data.message);
                window.location.reload();
            })
            .catch(function (error) {
                // currentObj.output = error.response.data.message;
                alert(error.response.data.message);
            });
        }
    },
    directives: { mask },
}
</script>

<style>

</style>
